{% extends 'base_forms.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<form method="post">
{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div><br>
    <button type="submit" class="botonA btn btn-sm">Ingresar al sistema</button>
</form>
{% endblock %}