<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static '/assets/css/botones.css' %}" rel="stylesheet" />
      <title>Iniciar Sesion</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8"><div style="text-align: center;">
             {% load static %}
            <img src="{% static 'media/logoc.png' %}"  width="200" height="280"/>

                <div class="row">
                    <div class="col-md-10 ml-mr-auto"><div class="col-md-10 ml-md-auto">

                <div class="">
                    <a class="botonA btn btn-block" href="http://127.0.0.1:8000/user/listar/">Listar deudores</a><br>
                    <a class="botonA btn btn-block" href="#">Gestionar Usuarios</a><br>
                    <a class="botonA btn btn-block" href="#">Gestionar Visitas</a><br>
                    <a class="botonA btn btn-block" href="#">Listar Operarios</a><br>
                </div>
                    </div>
                </div>

                </div>


        </div>
        </div>
      </div>
    </div>
  </body>
</html>